
/* Button-style links */

.button {
	text-align: center;
	font-family: $body-font;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	text-shadow: none;
	padding: 10px;
	display: block;
	width: 140px;
	margin:60px auto 60px;

  &.teal {
    background: $teal-base;

    &:hover {
      background: $lightest;
      color: $teal-base;
    }
  }

  transition:
    background 250ms ease-in-out,
    color 250ms ease-in-out;

}

.button--block {
  width: 100%;
  margin: $s-size auto;


}
