
.orange-scheme {
  background: $orange-base;
  color: $orange-light-2;

  a.inline {
    color: $orange-light-2;
  }

  a.inline:hover, a.inline:focus {
      color: $orange-dark-3;
  }

  a.inline::after {
      background: $orange-dark-3;
  }

  .button {
    color: $lightest;
    background-color:$orange-base;
    border: 2px solid $lightest;
  }


  &.dark, & > .dark {
    background: $orange-dark-3;
    // color: $orange-light-2;

    a.inline {
      // color: $orange-dark-1;
    }

    a.inline:hover, a.inline:focus {
        color: $orange-light-2;
    }

    a.inline::after {
        background: $orange-light-2;
    }


  }
}
