.feed-ballot {

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  height: 15rem;
  width: 15rem;

  margin: 0 auto;

  margin-bottom: -$l-size;

  &.right {
    margin-right: -9vw;
  }

  &.left {
    margin-left: -9vw;
  }


  p {
    margin-top: $s-size;
    font-weight: 400;
    color: $lightest;
  }

  p.score {
    color: $purple-dark;
    margin-top: 0;
  }

  &.winner p.score {
    color: $lightest;
  }

}
