.feed-page {
  background: $purple;
  padding: $l-size 0 ($l-size * 2);
  position: relative;

  .ballot-display-container {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    background: $orange;
    padding: $s-size;
  }

}
