.film-icon {
  height: 10rem;
  width: 10rem;

  & > img {
    height: 100%;
    object-fit: contain;
  }

  &.accent > img {
    border: 6px solid $purple-dark;
    border-radius: 50%;
  }

  &.highlight > img {
    border: 6px solid $lightest;
    border-radius: 50%;
  }

}
