.header {
  // background: $dark-blue;
  padding: $s-size $m-size;
  flex: 0 0 auto;
}

.header__title {
  color: $lightest;
  text-decoration: none;
  margin: 0;
  font-size: $xl-font;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
}
