.home-page {
  background: $purple;
  color: $lightest;

  h1 {
    flex: 1;
  }

  a.button {
    color: $lightest;
    margin: 0;
  }

  .extra, .basic {
    margin-bottom: $m-size;
  }

  .basic-title {
    margin-bottom: $s-size;
    color: $purple-dark;
    font-weight: 700;
  }

  .basic .choice {
    margin-bottom: $xs-size;
  }
}
