
.page-and-header-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;

  @media (min-width: $desktop-breakpoint) {
    flex-flow: column nowrap;
  }

}

.page {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  // justify-content: space-between;
  flex: 1;

}

.page__content {
  padding: $s-size $m-size;
  flex: 1;
}

.page__padded-container {
  padding: $m-size;
}
