
.page-and-header-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;

  @media (min-width: $desktop-breakpoint) {
    flex-flow: column nowrap;
  }

}

.page {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  // justify-content: space-between;
  flex: 1;

}

.page__content {
  padding: $s-size $m-size;
  flex: 1;
  min-width: 30rem;
  max-width: 50rem;
  margin: 0 auto;
}

.page__padded-container {
  padding: 0 $m-size;
}
