.form .SingleDatePickerInput {
  // height: 50px;
  // outline: none;
  // font-size: $font-size-large;
  // font-weight: 300;
  border: 1px solid #cacccd;

  width: 100%;
  margin-bottom: $m-size;
}
