<% provide(:title, 'About') %>
<% provide(:bodyclass, 'about') %>

<h1>About</h1>
<p>This is an app I made for fun, than anyone can use for free! If you're interested in seeing the source code, head over to <a href="https://github.com/gnordhielm/fantasy-oscars"></a></p>.
