
<p>This is an app I make and maintain for fun, based on a yearly tradition of Tyler and David at <a href="http://battleshippretension.com/category/episode/" class="inline">Battleship Pretension</a>.</p> 

<p>I don't follow their rules exactly, nor those of any fantasy sports game, because I'm really aiming to evoke something like <a class="inline" href="https://boardgamegeek.com/boardgame/68448/7-wonders">Seven Wonders</a> or <a class="inline" href="http://civilization.com/">Civilization</a>. The Oscars should not be taken too seriously, that's not why we're all here. Rather, the Oscars represent the culmination of an annual period during which a lot of great movies come out, and a lot more people are talking about movies. Hopefully, this game will provide you with a couple hours of entertainment and something else to do during the ceremony.</p>


<p>Source code is available at <a class="inline" href="https://github.com/gnordhielm/fantasy-oscars">GitHub</a>, more information about me at my <a class="inline" href="http://www.gusnordhielm.com/">personal site</a>.</p>
