<% provide(:title, 'Help') %>
<% provide(:bodyclass, 'help') %>

<h1>Help</h1>
<p>Some of this can be a little confusing. Check back in a little while when I have the FAQ and help section set up.</p>

