<% provide(:title, 'Welcome') %>
<% provide(:bodyclass, 'welcome') %>

<h1>Hi!</h1>
<p>Welcome to the Fantasy Oscars app. Here's how the game works: you start a league, fill out this year's ballot (I try to make it more about strategy than luck), send out links to your friends, and watch to see who wins come the Oscars. As the person who starts a league, you'll act as "commissioner", making sure people get ballots in and deciding who can join in the first place. If you want to start one, you'll be asked to make an account; but get this - no one else in your league has to! They just fill out a ballot. It's free, fun, and I'm ready when you are... </p>

<p>Start a league.</p>

<p>Already a commissioner? Log in, you bing bong.</p>
<input type="text" name="email">
<input type="password" name="password">

<p>Site by <a href="http://www.gusnordhielm.com/">Gus Nordhielm</a>, built on <a href="http://guides.rubyonrails.org/">Rails</a>.</p>