
/* Color Scheme */

$purple-dark-1: #3c2244;
$purple-base: #4b3051;
$purple-light-1: #c49ace;

$orange-dark-3: #9f3f18;
$orange-dark-2: #b34c20;
$orange-dark-1: #ca5824;
$orange-base: #d75d27;
$orange-light-1: #fd8241;
$orange-light-2: #fed4bc;

$teal-dark-3: #3a6c62;
$teal-dark-2: #3a6c62;
$teal-dark-1: #3a6c62;
$teal-base: #5d9388;
$teal-light-1: #6fa79b;
$teal-light-2: #83b4a9;
$teal-light-3: #a9ded2;

$red-dark-3: #6a1b13;
$red-dark-2: #7f2117;
$red-base: #9a2c22;
$red-light-3: #f89b8c;

body.start-a-league {
	form {
		p {
			text-align: left;
		}
	}
}


body.sign-up, body.start-a-league {
	background-color: $teal-base;
	p, a.inline {
		color: $teal-light-3;
	}
	a.inline:hover {
	    color:$teal-dark-3;
	}
	a.inline::after {
	    background:$teal-dark-3;
	}
	a.button {
		color: #fff;
		background-color:$teal-base;
		border: 2px solid white;
	}
	a.button:hover {
		background-color: white;
		color:#3f786b;
		border: 2px solid white;
	}
	input[type='submit'] {
		margin-top: 15px;
		background-color: $teal-base;
		color: $teal-light-3; 
		border: 2px solid $teal-light-3;
	}
	input[type='submit']:hover {
		background-color: $teal-light-3;
		color: $teal-dark-3; 
	}
	input[type='text'], input[type='password'] {
	    background: $teal-light-3;
	    color: $teal-dark-3;
	}
	input[type='text']:focus, input[type='password']:focus {
	    background: $teal-light-3;
	    color: $teal-dark-3;
	}
	small {
		color: $teal-dark-3;
	}
}

body.about {
	background-color: $red-base;
	p, a.inline {
		color: $red-light-3;
	}
	a.inline:hover {
	    color:$red-dark-3;
	}
	a.inline::after {
	    background:$red-dark-3;
	}
	a.button {
		color: #fff;
		background-color:$teal-base;
		border: 2px solid white;
	}
	a.button:hover {
		background-color: white;
		color:#3f786b;
		border: 2px solid white;
	}
	input[type='submit'] {
		margin-top: 15px;
		background-color: $red-dark-3;
		color: $red-light-3; 
		border: 2px solid $red-light-3;
	}
	input[type='submit']:hover {
		background-color: $red-light-3;
		color: $red-dark-3; 
	}
	input[type='text'], input[type='password'] {
	    background: $red-light-3;
	    color: $red-dark-3;
	}
	input[type='text']:focus, input[type='password']:focus {
	    background: $red-light-3;
	    color: $red-dark-3;
	}
	small {
		color: $red-dark-3;
	}
}

body.welcome {
	background-color: $orange-base;
	p, a.inline {
		color: $orange-light-2;
	}
	a.inline:hover {
	    color:$orange-dark-3;
	}
	a.inline::after {
	    background:$orange-dark-3;
	}
	a.button {
		color: #fff;
		background-color:$teal-base;
		border: 2px solid white;
	}
	a.button:hover {
		background-color: white;
		color:#3f786b;
		border: 2px solid white;
	}
	section {
		border: solid $orange-dark-3;
		background-color: $orange-dark-3;
		color:$orange-dark-3;
		hr {
			height: 2px;
			background: $orange-light-2;
		}
		svg {
			.line {
				fill:none;
				stroke:$orange-light-2;
				stroke-miterlimit:10;
				stroke-width:5px;
			}
			.fill {
				fill:$orange-light-2;
			}
		}
	}
	input[type='submit'] {
		margin-top: 15px;
		background-color: $orange-dark-3;
		color: $orange-light-2; 
		border: 2px solid $orange-light-2;
	}
	input[type='submit']:hover {
		background-color: $orange-light-2;
		color: $orange-dark-3; 
	}
	input[type='text'], input[type='password'] {
	    background: $orange-light-2;
	    color: $orange-dark-3;
	}
	input[type='text']:focus, input[type='password']:focus {
	    background: $orange-light-2;
	    color: $orange-dark-3;
	}
	small {
		color: $orange-dark-3;
	}
}


/* General Typography */

$header-font: "Roboto Condensed", sans-serif;
$body-font: "Poppins", sans-serif;

h1 {
	color: #fff;
	font-family: $header-font;
	text-transform: uppercase;
	font-size: 50px;
	text-align: right;
	letter-spacing: .5px;
	margin: 0;
}

p,form,input {
	font-family:$body-font;
	font-size:14px;
	font-weight: 300;
}

form {
	font-family:$body-font;
}

small {
	font-family:$body-font;
	font-size:11px;
	font-weight: 400;
}

/* Structure and Common Elements */
* {
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}
.wrapper {
	width: 500px;
	margin: 0 auto;
	padding: 50px 0 30px;
}

footer {
	padding: 20px;
	text-align: center;
	clear: both;
}

hr {
    border: 0;
    height: 3px;
    margin: 6px 0;
    background: #fff;
}

#home-button {
	position: absolute;
	top: 90px;
	height: 20px;
	fill:#fff;
	text {
	    -ms-transform: translate(4px, 10px);
	    -webkit-transform: translate(4px, 10px);
	    transform: translate(4px, 10px);
		font-size:4px;
		font-family: $body-font;
		text-transform: uppercase;
	}
}
#home-button:hover {
	text {
	    -ms-transform: translate(4px, 3.4px);
	    -webkit-transform: translate(4px, 3.4px);
	    transform: translate(4px, 3.4px);
	}
}

/* Inline Links */

/* 
link hover effect based on Mary Lou's tympanus collection:
https://tympanus.net/Development/CreativeLinkEffects
*/

a.inline {
	font-family:$body-font;
	font-size:14px;
	font-weight: 300;
	text-decoration: none;
	position: relative;
	text-shadow: none;
	-webkit-transition: color 0.35s;
	-moz-transition: color 0.35s;
	transition: color 0.35s;

}

a.inline::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
	-moz-transition: opacity 0.3s, -moz-transform 0.5s;
	transition: opacity 0.3s, transform 0.5s;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

a.inline:hover::after, a.inline:focus::after {
	opacity: 0;
	-webkit-transform: translateY(14px);
	-moz-transform: translateY(14px);
	transform: translateY(14px);
}

/* Button-style links */

a.button {
	text-align: center;
	font-family:$body-font;
	font-size:16px;
	font-weight: 300;
	text-decoration: none;
	text-shadow: none;
	padding: 10px;
	display: block;
	width: 140px;
	margin:40px auto 50px;
}

/* Button-style links */

a.button {
	text-align: center;
	font-family:$body-font;
	font-size:16px;
	font-weight: 300;
	text-decoration: none;
	text-shadow: none;
	padding: 10px;
	display: block;
	width: 140px;
	margin:60px auto 60px;
}

/* Bordered Sections */

div.section-container {
	width: 100%;
	margin-top: 20px;
	clear: both;
}
section {
	border: 3px solid white;
	float: left;
	height: 240px;
	margin-right: 10px;
	width: 237px;
	padding: 15px 20px;
	form, input {
		text-align: center;
	}
	svg {
		width: 40px;
		display: block;
		margin: 0 auto;
	}
	p {
		margin: 0;
	}
}

section.cap {
	width: 160px;
	margin-right: 0;
}

/* Forms & Form Elements */

label {
	font-size: 13px;
	color: #444;
}

form {
	text-align: center;
	p {
		margin: 5px 0;
	}
}

/* Text Fields */

input[type='text'], input[type='password'] {
	font-size: 12px;
	font-weight: 400;
	width: 150px;
	padding: 6px 6px;
    border: none;
    outline: none;

}

/* Submit Buttons */

input[type='submit'] {    
	padding: 6px 15px;
    border: none;
}

input[type='submit']:hover {
	cursor: pointer;
}



