// Colors

$lightest: #fff;

$purple-dark-3: #331c3a;
$purple-dark-2: #3c2244;
$purple-dark-1: #3c2244;
$purple-base: #55315d;
$purple-light-1: #c49ace;
$purple-light-2: #c49ace;
$purple-light-3: #e0bfea;

$orange-base: #d75d27;

$orange-dark-4: darken(saturate($orange-base, 2.87), 27);
$orange-dark-3: darken(saturate(adjust-hue($orange-base, -2), 2.87), 13.53);
$orange-dark-2: darken(desaturate(adjust-hue($orange-base, -1), 0.29), 8.24);
$orange-dark-1: darken(desaturate($orange-base, 0.21), 2.94);

$orange-light-1: lighten(saturate(adjust-hue($orange-base, 2), 27.96), 12.75);
$orange-light-2: lighten(saturate(adjust-hue($orange-base, 3), 27.10), 37.06);

$teal-base: #5d9388;
$teal-dark-3: #3a6c62;
$teal-dark-2: #3a6c62;
$teal-dark-1: #3a6c62;
$teal-light-1: #6fa79b;
$teal-light-2: #83b4a9;
$teal-light-3: #a9ded2;

$red-dark-3: #6a1b13;
$red-dark-2: #7f2117;
$red-dark-1: #7f2117;
$red-base: #9a2c22;
$red-light-1: #f89b8c;
$red-light-2: #f89b8c;
$red-light-3: #f89b8c;


$light-gray: #f7f7f7;
$gray: #888;
$dark-gray: #333;
$blue: #1c88bf;
$dark-blue: #364051;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400|Roboto+Condensed:300,400');

$header-font: "Roboto Condensed", sans-serif;
$body-font: "Poppins", sans-serif;

$xs-font: 1.2rem;
$s-font: 1.4rem;
$l-font: 6rem;
$xl-font: 7rem;
$font-size-small: 1.4rem;
$font-size-large: 1.75rem;

// Spacing

$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
